:root {
    /* Primary color: Blue (dominant) */
    --md-primary-fg-color: #165C7D;
    /* Smithsonian Blue */
    --md-primary-fg-color--light: #009CDE;
    /* Lighter variant */
    --md-primary-fg-color--dark: ##002554;
    /* Darker variant */

    /* Accent color: smithsonian primary yellow */
    --md-accent-fg-color: #009CDE;


    /* Link colors */
    --md-typeset-a-color: #009CDE;
    /* Dark gold links */
    --md-typeset-a-color--hover: #009CDE;
    /* Lighter gold on hover */
}

.button {
    background-color: #0057b338;
    color: white;
    padding: 0.25rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button:hover {
    background-color: #ffffff;
}

.info-box {
    background-color: #f8f9fa;
    /* Light gray background */
    border-left: 4px solid #6c757d;
    /* Dark gray left border */
    padding: 15px;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /* Adds slight shadow for depth */
    max-width: 700px;
    /* Prevents it from stretching too much */
    line-height: 1.5;
    /* Improves readability */
}

.info-icon {
    font-size: 20px;
    color: #6c757d;
    /* Dark gray icon */
    margin-top: 3px;
    /* Aligns with text */
}